In [1]:
import pandas as pd

In [15]:
main_df = pd.read_csv('../csv/strongbox_top_100k_militaryfirstresponder_brcc.csv')
check_df1 = pd.read_csv('../csv/strongbox_top_150k_donorpropensity.csv')
check_df2 = pd.read_csv('../csv/strongbox_top_75k_donorpropensity_ca.csv')

In [16]:
main_df = main_df[~main_df.individual_id.isin(check_df1.individual_id)]

In [17]:
main_df = main_df[~main_df.individual_id.isin(check_df2.individual_id)]

In [19]:
main_df.drop(columns=['rn'], inplace=True)

In [21]:
main_df.to_csv('../csv/strongbox_top_100k_militaryfirstresponder_brcc.csv', index=False)

In [22]:
main_df

,individual_id,fname,mname,lname,primary_address,house_number,street_name,street_suffix,city_name,state,zip_code,lalvoterid,dob_yr,dob_mon,dob_day,donor_score
12018,481400549,MAURICIO,F,CEVALLOS,561 EL CAMINO DEL MAR,561,EL CAMINO DEL MAR,NaN,SAN FRANCISCO,CA,94121,LALCA25274295,1946,1,15,0.644740
12020,805175610,DEBORAH,J,BALL,10464 RUSSELL RD,10464,RUSSELL,RD,LA MESA,CA,91941,LALCA24233328,1953,0,0,0.644736
12021,695956694,JOHN,A,CINK,26981 ORCHID AVE,26981,ORCHID,AVE,MISSION VIEJO,CA,92692,LALCA5206669,1947,1,30,0.644724
12023,742217664,DANIEL,P,HADDOW,8028 AUBERGE CIR,8028,AUBERGE,CIR,SAN DIEGO,CA,92127,LALCA24202187,1948,2,15,0.644723
12025,539404215,ELVIRA,A,SOTO,6088 SAINT THERESE WAY,6088,SAINT THERESE,WAY,SAN DIEGO,CA,92120,LALCA24304246,1937,4,14,0.644695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,802079832,TERRY,L,ELLICK,42047 N MOSS SPRINGS RD,42047,MOSS SPRINGS,RD,ANTHEM,AZ,85086,LALAZ2746649,1943,0,0,0.421907
99996,132167852,ELIZABETH,A,RICHARDSON,730 CREEKSIDE DR,730,CREEKSIDE,DR,MOUNT PROSPECT,IL,60056,LALIL1774903,1930,12,0,0.421907
99997,46363953,PHILIP,J,ROONEY,3215 AMBERLEY LN,3215,AMBERLEY,LN,FAIRFAX,VA,22031,LALVA1149398,1938,10,17,0.421905
99998,52889720,ROBERT,D,SHIRK,4320 WHEATLAND LN,4320,WHEATLAND,LN,WINSTON SALEM,NC,27106,LALNC94414466,1943,10,18,0.421902
99999,538344667,DAVID,L,GOOD,19245 CASA PL,19245,CASA,PL,TARZANA,CA,91356,LALCA526872,1934,5,0,0.421900